{% extends "layouts.html" %}
{% block content %}
    <div class="content-section">
        <form method="GET" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Stock Details</legend>
                <div class="form-group">
                    {{ form.stockform.label(class="form-control-label") }}
                    {% if form.stockform.errors %}
                        {{ form.stockform(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.stockform.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.stockform(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
             <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        <p>
            <tr>
                <td>{{ output }}</td>
            </tr>
        </p>
    </div>
{% endblock content %}